<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="smartosc_redirectstore" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Redirect Store</label>
            <tab>amasty</tab>
            <resource>Smartosc_RedirectStore::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="redirect_url" translate="label" sortOrder="20" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Redirect URL</label>
                    <validate>validate-url</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="redirect_mapping" translate="label" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Banner for Store</label>
                    <frontend_model>Smartosc\RedirectStore\Block\Adminhtml\Config\Form\Field\Records</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
