<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="smartosc_banner" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Customize Banner</label>
            <tab>amasty</tab>
            <resource>Smartosc_Banner::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="banner_option" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Smartosc\Banner\Model\Source\BannerOption</source_model>
                </field>

<!--                choose banner for separated store-->
                <field id="banner_for_store" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Banner for Store</label>
                    <frontend_model>Smartosc\Banner\Block\Adminhtml\Records</frontend_model>
                    <backend_model>Smartosc\Banner\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
